.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-content {
	min-height: 90vh;
	padding-top: 2rem;
}

.site-content-wrap {
	background-color: white;
}

.site-wrapper {
	background: $body-background;
}
